$primary: #2979ff;
$secondary: #7986cb;
$success: #43a047;
$danger: #ef6c00;
$error: #ff3d00;
$info: #757575;
$disabled: #eeeeee;

$main_text: #333;
$primary_text: #5f9ea0;

$placeholder_text: #999;

$s_text: 12px;
$m_text: 14px;
$l_text: 16px;
$g_text: 18px;



